.body {
  width :100% ;
}

.blockly {
  position: absolute;
  height: 100%;
  width: 65%;
  right: 0;
  bottom: 0;
}

.react {
  position: absolute;
  height: 100%;
  width: 72%;
  left: 0;
  bottom: 0;
  z-index: 1;
}

.carte {
  position: relative;
  width: 100%;
  height: 100%;
}




@media(min-width: 768px) and (max-width: 1388px)
{
.blockly{
}
.react{
}
}
